*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: hsl(0, 0%, 95%) ;
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 7rem;
}


@media screen and (min-width: 768px) {
    body{
        font-size: 1.4rem;
    }

    h1{
        font-size: 3rem;
    }
}

.container{
    margin: 10%;
    /*width: 80%;*/
}

.grid{
    display: grid;
}

.card{
    padding: 3rem 4rem;
}

.card_sedans{
    background: hsl(31, 77%, 52%) ;
}

.card_suvs{
    background: hsl(184, 100%, 22%) ;
}

.card_luxury{
    background: hsl(179, 100%, 13%);
}

.button{
    border-radius: 20px;
    padding: 1.3rem 3rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: hsl(0, 0%, 95%);
}

.btn_sedans{
    color: hsl(31, 77%, 52%) ;
}

.btn_suvs{
    color: hsl(184, 100%, 22%);
}

.btn_luxury{
    color:hsl(179, 100%, 13%) ;
}

@media screen and (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}